
/*
Yellow: #ffe401
Dark Purple: #7d1356
Light Purple: #aa1c76
*/

@font-face {
    font-family: "Droid Sans";
    font-weight: normal;
    font-style: normal;
    src: local("Droid Sans"), local("DroidSans"), url("droidsans.ttf") format("truetype");
}
@font-face {
    font-family: "Droid Sans";
    font-weight: bold;
    font-style: normal;
    src: local("Droid Sans Bold"), local("DroidSans-Bold"), url("droidsansbd.ttf") format("truetype");
}
@font-face {
    font-family: "Concert One";
    font-weight: normal;
    font-style: normal;
    src: local("Concert One"), url("concertone.ttf") format("truetype");
}


body {
    background: #7d1356;
    font-family: "Droid Sans";
    font-size: 12px;
}

#game {
    width: 640px;
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
}

#title {
    font-family: "Concert One";
    font-size: 40px;
    color: #ffe401;
    float: left;
    margin: 5px;
    text-align: center;
    width: 308px;
    margin-top: 12px;
}
#scoreboard {
    height: 74px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 308px;
    margin: 5px 5px 5px auto;
    color: #ffffff;
}
#scoreboard table {
    width: 100%;
}
#scoreboard td {
    color: #ffffff;
    font-size: 12px;
}
#scoreboard .marker {
    width: 12px;
}
#scoreboard .score {
    text-align: right;
    width: 25px;
}

#ticker {
    height: 50px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 5px;
    color: #ffffff;
    margin-top: 10px;
    overflow: hidden;
}
#tickerslide {
    width: 1300px;
    height: 100px;
}
#tickerslide div {
    padding: 13px 5px;
    text-align: center;
    font-family: "Concert One";
    font-size: 20px;
    width: 618px;
    height: 24px;
}

.box {
    overflow: hidden;
    width: 52px;
    height: 62px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    position: relative;
    color: #ffffff;
    background-position: -1px -1px;
    margin: 5px;
    float: left;
}

.box .door {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #aa1c76;
    color: #ffffff;
    font-size: 50px;
    font-family: "Concert One";
    text-align: center;
    width: 52px;
    height: 62px;
    border-radius: 4px;
}
.doorcaption {
    -webkit-transform-origin: 50% 50%;
    -transform-origin: 50% 50%;
}

#setupbg {
    background: #7d1356;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 600px;
}
#setuptitle {
    text-align: center;
    font-family: "Concert One";
    font-size: 80px;
    color: #ffe401;
}

#setuppanel table {
    width: 75%;
    margin: auto;
}
#setuppanel table .playertype {
    width: 25%;
}
#setuppanel table .playername {
    width: 75%;
}
#setuppanel table .playertype * {
    width: 100%;
}
#setuppanel table .playername * {
    width: 100%;
}
#setuppanel p {
    text-align: center;
}
